{ 
  margin: 0;
  padding: 0;

 }


header {
    background-color:#8d800c; 
    color:beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
  width: 30%;
}
 
.cabecalho-lista-item {
  display: inline-block;
  margin: 0 16px;
  font-size: 30px;
}

body {
    font-family; 'Allura';
}