*{ 
  margin: 0;
  padding: 0;

 }


header {
    background-color:#b1a00d; 
    color:beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
  width: 30%;
}
 
.cabecalho-lista-item {
  display: inline-block;
  margin: 0 16px;
  font-size: 30px;
}

body {
    font-family: 'Allura';
}
.turma { 
  background-image: linear-gradient(#b1a00d,#ffffff);
  color:rgb(124, 68, 0);
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px 0;
}
.GalBanda.png{
   width: 5%;
}